<div class="login-page">
<%= form_for(:provider, url: '/providers/create', html: { method: :post, id: 'new_user'}) do |f| %>
  <%= render 'providers/shared/error_messages' %>
  <div class="field">
     <%= f.label :"practice name" %><br />
    <%= f.text_field :practiceName %><br />
  </div>
  
  <div class="field">
     <%= f.label :address %><br />
     <%= f.text_field :address %><br />
  </div>
  
  <div class="field">
     <%= f.label :phone %><br />
     <%= f.text_field :phone %><br />
  </div>
  
  <div class="field">
      <%= f.label :insurance %>
       <div class="field checkbox_field">
           <% @insurance_params.each do |i| %>
           <div class="checkbox_div">
           <%= f.label i %>
           <%= f.check_box :insurance, {:multiple => true}, i, nil %>
           </div>
           <% end %>
        </div>
  </div>

   <div class="field">
    <%= f.label :description %>
    <em>(not exceeding 250 words)</em><br />
     <%= f.text_area :description, class: "textbox", id: 'textbox', cols: "32", rows: "10"%><br />
  </div>
  <span id="count">Word count: <span id="wordCount"></span></span>

    <%= hidden_field_tag "provider[user_id]", "#{current_user.id}" %>
  <div class="actions">
    <%= f.submit "Submit profile" %>
  </div>
<% end %>
</div>
<%= javascript_include_tag "textbox" %>