<div class="container">
    <%= render 'providers/shared/success_message' %>
    <%= render 'providers/shared/error_messages' %>
    <% if p = Provider.find_by_user_id(current_user.id) %>
    <div id="w">
      <div id="content" class="clearfix">
        <div id="userphoto"><img src="assets/images/user.png" alt="default avatar"></div>
      <h1><%= p.practiceName %></h1>

      <nav id="profiletabs">
        <ul class="clearfix">
          <li><a href="#description" class="sel">Description</a></li>
          <li><a href="#info">Basic info</a></li>
          <% if user_signed_in? && p.user_id = current_user.id %>
          <li><%= link_to('Edit Profile', edit_provider_path(p), method: :GET) %></li>
          <li><%= link_to('Add Service', new_service_path(p), method: :GET) %></li>
          <% end %>
        </ul>
      </nav>
      
      <section id="description">
        <p><%= p.description %></p>
      </section>
      
      <section id="info" class="hidden">
        
        <p class="setting"><span>E-mail Address </span> <%= current_user.email %> </p>
        
        <p class="setting"><span>Address </span> <%= p.address %> </p>
        
        <p class="setting"><span>Phone </span> <%= p.phone %> </p>
        
        <p class="setting"><span>Waivers </span> <%= p.waiver.join(", ") %> </p>
      
        <p class="setting"><span>Insurances </span> <%= p.insurance.join(", ") %> </p>
      
        <p class="setting"><span>Services </span> 
        <div>
        <% @s = Service.where(provider_id: p.id) %>
        <% @s.each do |service| %>
        <span class="profile_service" ><%= service.service_name %></span>
        <div class="service_content"><%= service.description %></div>
        <% end %>
        </div>
        </p>
      </section>
    </div><!-- @end #content -->
  </div><!-- @end #w -->

        
        <% else %>
          <h1>You do not have a profile yet!</h1>
          <%= link_to 'Create Profile', new_provider_path %>
        <% end %>

</div>

<%= javascript_include_tag "profile" %>