<div class="login-page">
<%= form_for :service, :url => {:controller => 'services', :action => 'create' }, html: { method: :post} do |f| %>
    <div class="field">
        <%= f.label "service name" %><br />
        <%= f.text_field :service_name %>
    </div>
    
    <div class="field">
        <%= f.label :description %>
        <em>(not exceeding 250 words)</em><br />
        <%= f.text_area :description, class: "textbox", id: 'textbox', cols: "32", rows: "10"%><br />
    </div>
    <span id="count">Word count: <span id="wordCount"></span></span>
    
    <div class="actions">
        <%= f.submit "Save Service" %>
    </div>
    
    <%= hidden_field_tag "service[provider_id]", "#{@provider_id}" %>
    
<% end %>
<%= javascript_include_tag "textbox" %>
