<!--source: https://codepen.io/anon/pen/MRgQyP-->
<div class='container'>
<div id="demo">
  <h1>All Current Users</h1>
    <%= render 'providers/shared/success_message' %>
    <%= render 'providers/shared/error_messages' %>  
  <nav id='profiletabs'>
    <ul class="clearfix admin_create_button">
      <li><%= link_to 'Create new user', admin_new_account_path, method: :GET %></li>
    </ul>
  </nav>
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>User Email</th>
          <th>Status</th>
          <th>Practice Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <% @p = Provider.find_by_user_id(user.id) %>
        <tr>
          <td data-title="email"><%= user.email %></td>
          <% if user.admin? %>
              <td data-title="status">Admin</td>
              <td data-title="practiceName">N/A</td>
              <td data-title="address">N/A</td>
              <td data-title="phone">N/A</td>
          <% else %>
            <% if @p %>
              <td data-title="status">Provider</td>
              <td data-title="practiceName" class="td_practiceName"><%= @p.practiceName %></td>
              <td data-title="address"><%= @p.address %></td>
              <td data-title="phone"><%= @p.phone %></td>
            <% else %>
              <td data-title="status">Provider</td>
              <td data-title="practiceName"></td>
              <td data-title="address"></td>
              <td data-title="phone"></td>
            <% end %>
          <% end %>
          
          <% if current_user != user %>
          <td><%= link_to "Delete", admins_destroy_user_path(user), data: { confirm: "Are you sure?" }, method: :delete %></td>
          <% else %>
          <td></td>
          <% end %>
          
          <% if @p %>
          <td><%= link_to('View detail', admin_show_account_path(@p), method: :GET) %></td>
          <% else %>
          <td></td>
          <% end %>
        </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>
</div>
