<div class="container">

<h2 class="admin_show_h"><%= @provider.practiceName %></h2>
  <nav id='profiletabs'>
    <ul class="clearfix admin_create_button">
      <li><%= link_to('Edit Provider Info', edit_provider_path(@provider), method: :GET) %></li>
    <li><%= link_to("Add waiver", '#') %></li>
    <li><%= link_to("Add service", "#") %></li>
    </ul>
  </nav>
  
<span class="admin_show_line">Email: <%= User.find(@provider.user_id).email %></span>
<span class="admin_show_line">Phone: <%= @provider.phone %></span>
<span class="admin_show_line">Address: <%= @provider.address %></span>
<span class="admin_show_line">Description: </span>
<div class="admin_show_p"><%= @provider.description %></div>
<span class="admin_show_line">Waivers</span>
<span class="admin_show_line">Services</span>
</div>