<!--
To understand advanced search, look at:
1. /nami_website/app/controllers/search_controller.rb
2. /nami_website/app/helpers/checkbox_params.rb
3. /nami_website/app/views/search/advanced_search_result.html.erb
-->

<!-- fieldset is used for grouping elements in forms and also for assessibility, a screen reader will read off the legend.-->
<form action='/search/advanced_search_result' class= "advanced_search">
  <p class="long-header" >Advanced Search</p>
  <div class="form-group centered">
    <input class="form-control col-xs-8 col-md-6 col-lg-6" name="name" id = "name" placeholder="Search by Provider Name" type="text">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="fas fa-search text-grey"></i></button>
    </div>
  </div>

  <fieldset>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="row">
            <%= label 'services', 'Services' %>
          </div>
          <div class="row">
            <div class="col-sm">
              <%= collection_check_boxes(:query, :service_ids, Service.all, :id, :name) do |s| %>
                <div class="row">
                  <div class="col-1">
                    <%= s.check_box %>
                  </div>
                  <div class="col">
                    <%= s.label %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="row">
            <%= label 'insurances', 'Insurances' %>
          </div>
          <div class="row">
            <%= select_tag 'insurance_ids',
                options_for_select(Insurance.all.collect{|i| [i.name, i.id]}), multiple: true %>
          </div>
        </div>
        <div class="col-sm">
          <div class="row">
            <%= label 'waivers', 'Waivers' %>
          </div>
          <div class="row">
            <%= select_tag 'waiver_ids',
                options_for_select(Waiver.all.collect{|w| [w.name, w.id]}), multiple: true %>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
