<!-- 
To understand advanced search, look at: 
1. /nami_website/app/controllers/search_controller.rb
2. /nami_website/app/helpers/checkbox_params.rb
3. /nami_website/app/views/search/advanced_search_result.html.erb
-->

<!-- fieldset is used for grouping elements in forms and also for assessibility, a screen reader will read off the legend.-->
 <form action='/search/advanced_search_result' class= "advanced_search">
  <p class="long-header" >Advanced Search</p>
    
     <p>Select Search Criteria</p>
     
     <fieldset>
     <select name="waiveroptions">
       <option value = ""> Choose a Waiver </option>
       <% @waiver_params.each do |criteria| %>
       <option value = "<%= criteria %>"> <%= criteria %> </option>
     <% end %>
     </select>
     
     <!-- Dropdown for insurances -->
     <select name="insuranceoptions">
       <option value = ""> Choose an Insurance </option>
       <% @insurance_params.each do |criteria| %>
       <option value = "<%= criteria %>"> <%= criteria %> </option>
     <% end %>
     </select>
     
     <!-- Dropdown for insurances -->
     <select name="addressoptions">
       <option value = ""> Choose a City </option>
       <% @address_params.each do |criteria| %>
       <option value = "<%= criteria %>"> <%= criteria %> </option>
     <% end %>
     </select>
    </fieldset>
   
     
     <label for="Query"> <input class="form-control" name="query" id = "query" placeholder="Search by Provider Name" type="text"></label>
     <input class="searchSubmit" type="submit" name="commit" value="Search" data-disable-with="Create" />
 </form>