<!--A POST method must be specified.-->
<div class="login-page">
  <%= render 'shared/error_message' %>
  <span>Error message = <%= @error_signup.inspect %></span>
  <span>flash[:signup_error] = <%= flash[:error_signup].inspect %></span>
  <div class="form">
    <form class="user_form" action="/page/post_create_user" method="POST">
      <!--The following is a line that renders the error message, if there is any-->
      <!--beginning of form-->
      <span class="user_tag">Username:</span>
      <input class="require" name="username" type="text" placeholder="username"/>
      <span class="user_tag">Password:</span>
      <input class="require" name="password" type="password" placeholder="password"/>
      <span class="user_tag">Confirm password:</span>
      <input class="require" name="confirm" type="password" placeholder="retype password"/>
      <span class="user_tag">Provider Practice Name:</span>
      <input class="require" name="provider_name" type="text" placeholder="practice name"/>
      <span class="user_tag">Address:</span>
      <input class="require" name="address" type="text" placeholder="address"/>
      <span class="user_tag">Phone:</span>
      <input class="require" name="phone" type="text" placeholder="phone"/>
      <span class="user_tag">Email:</span>
      <input class="require" type="text" name="email" placeholder="email"/>
      <button class="user_button">Submit</button> 
      <p class="message"> Have an account? <a href="/page/providers">Log in!</a></p>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= csrf_meta_tags %>
    </form>
  </div>
</div>