<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nami Website</title>
    <%= csrf_meta_tags %>
    <%= yield(:button_style) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'components' %>
  </head>
  <body>
    

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">NAMI Johnson County Database</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href='/'>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href='/page/parents'>For Parents</a>
          </li>
          <% if !user_signed_in? %>
          <li class="nav-item active">
            <a class="nav-link" href='/page/providers'>For Providers</a>
          </li>
          <% end %>
          <li class="nav-item active">
            <a class="nav-link" href="/page/contacts">Contact</a>
          </li>
        </ul>
        <input type="text" placeholder="Simple Database Search">
        <% if user_signed_in? %>
          <div class="user_icon">
            <i class="fas fa-user fa-2x"></i>
            <div class="dropdown_content">
              <span><%= current_user.email %></span>
            <a href='/page/profile'>Profile</a>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
            </div>
          </div>
        <% end %>
      </div>
    </nav>

    <%= yield %>
    
    <footer class="footer darkFooter">
        <span class="text-muted footerText" style="style=position: relative; center"><%= Time.new.year %> Copyright &copy; Grinnell College. All rights reserved.</span>
    </footer>

    </body>
</html>
