<html>
  
  <head>
    
    <head>
      <link rel="stylesheet" type="text/css" href="reset.scss">
      <link rel="stylesheet" type="text/css" href="page.scss">
    </head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAMI Database</title>
    <!--
        <link rel="stylesheet" type="text/css" href="reset.scss">
  -->
    <%= csrf_meta_tags %>
    <%= yield(:button_style) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'page', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'components' %>
  </head>
  <body>
    
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <div class="parent" >
        <!-- Logo: mobile version --> 
        <!-- depend_on_asset "yellow-logo-transparent.png" -->
      <a class="navbar-brand" href="/" type="image/png"> 
        <%= image_tag("yellow-logo-transparent.png", id: 'logo-next-to-button', height: '40', width: '40') %>
      </a>
      <!-- User icon: mobile version --> 
      <% if current_user.try(:admin?) %>
          <div class="user_icon">
            <i class="fas fa-user fa-2x"></i>
            <div class="dropdown_content">
              <span><%= current_user.email %></span>
            <a href='/admins/index'>Manage Accounts</a>
            <%= link_to('Edit Account', edit_user_registration_path(current_user), method: :GET) %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
            </div>
          </div>
        <% elsif user_signed_in? %>
          <div class="user_icon">
            <i class="fas fa-user fa-2x"></i>
            <div class="dropdown_content">
              <span><%= current_user.email %></span>
            <a href='/providers/profile'>Profile</a>
            <%= link_to('Edit Account', edit_user_registration_path(current_user), method: :GET) %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
            </div>
          </div>
        <% end %>
        <!-- Navbar menu opener: mobile version --> 
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div> <!-- End of mobile code -->
    
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="height: 40px">
          <ul class="navbar-nav mr-auto">
            <!-- Logo: PC version --> 
            <a class="navbar-brand" href="/" type="image/png"> 
            <%= image_tag("yellow-logo-transparent.png", id: 'logo-navbar', height: '40', width: '40') %>
            </a>
          </li>
          <!-- Links: both versions --> 
          <li class="nav-item active">
            <a class="nav-link" href='/'>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href='/page/parents'>For Parents</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href='/page/providers'>For Providers</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/page/contacts">Contact</a>
          </li>
          </ul>

          <!-- User icon: PC version --> 
          <% if current_user.try(:admin?) %>
          <div class="user_icon">
            <i class="fas fa-user fa-2x"></i>
            <div class="dropdown_content">
              <span><%= current_user.email %></span>
            <a href='/admins/index'>Manage Accounts</a>
            <%= link_to('Edit Account', edit_user_registration_path(current_user), method: :GET) %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
            </div>
          </div>
        <% elsif user_signed_in? %>
          <div class="user_icon">
            <i class="fas fa-user fa-2x"></i>
            <div class="dropdown_content">
              <span><%= current_user.email %></span>
            <a href='/providers/profile'>Profile</a>
            <%= link_to('Edit Account', edit_user_registration_path(current_user), method: :GET) %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
            </div>
          </div>
        <% end %>
        </div>
  <!--Nav bar search: PC version-->
  <form action='/search/search' style="margin: 0; padding: 0;">
  <div class="navbar-search" style=" height: 50px; max-width: none;" >
      <div class="input-group">
      <input class="form-control" name="query" id = "query" placeholder="Search Database" type="text">
      <span class="input-group-btn" style="height=10">
      <input class="searchSubmit" type="submit" name="commit" value="Search" data-disable-with="Create" />
      </span>
    </div>
    </form>
  </div>
  
 
</s>
        
      </div>
  </nav>
<!--Nav bar search: Mobile version-->
  <form action='/search/search' style="margin: 0; padding: 0; max-width:none;">
  <div class="mobile-navbar-search" style="">
      <div class="input-group" >
      <input class="form-control" name="query" id = "query" placeholder="Search Database" type="text">
      <span class="input-group-btn">
      <input class="searchSubmit" type="submit" name="commit" value="Search" data-disable-with="Create" />
      </span>
    </div>
    </form>
  </div>
    <%= yield %>
    
    <footer class="footer darkFooter">
        <span class="text-muted footerText" style="style=position: relative; center"><%= Time.new.year %> Copyright &copy; Grinnell College. All rights reserved.</span>
    </footer>
    
    </body>
</html>
